extends layout
block content
  .content.admin.current
    h4.upload.image Upload Image:
    form.upload.image(action="/admin/upload/image", method="post", enctype="multipart/form-data")
      .upload.image
        input.upload.image.file(type="file", name="image")
        select.upload.image(name="selection")
          option(value="photo") Photo
          option(value="carousel") Carousel
          option(value="background") Background
        textarea.upload.image.caption.hideme(name="caption")
        input.upload.image.submit.hideme(type="submit", value="Upload Image")
    if upload == 1      
      p.upload.image.text Image successfully uploaded!
    else
      p.upload.image.hidden Nothing
    .modal.hide.fade
      .modal-header
        button.close(type="button", data-dismiss="modal", aria-hidden="true") &times;
        h3 Enter an (optional) caption of the image:
      .modal-body
        textarea.modal-upload.image.caption(rows="4", cols="30")
      .modal-footer
        a.btn(href="#", data-dismiss="modal") Cancel
        a.btn.btn-primary.modal-upload(href="#") Upload
    h4.upload.news Upload News Post:
    form.upload.news(action="/admin/upload/news", method="post", enctype="multipart/form-data")
      .upload.news
        textarea.upload.news(name="news", rows="10", wrap="hard") 
        input.upload.news.pull-right.margin-adjust(type="submit", value="Upload News Post", style="height:30px;")
        .input-append.date.datepicker.pull-right(data-date-format="yyyy-mm-dd", data-date=now)
          input.datestore(type="text", name="date", size="16", readonly)
          span.add-on.date-click
            i.icon-calendar
    if upload == 2
      p.upload.news Post Successfully Uploaded
    else
      p.upload.news.hidden Nothing
    script(type="text/javascript", src="/javascripts/admin.js")
