extends layout
block content
  .content.admin
    h4.upload.image Upload Image:
    form.upload.image(action="/admin/upload/image", method="post", enctype="multipart/form-data")
      .upload.image
        select.upload.image(name="selection")
          option(value="photo") Photo
          option(value="carousel") Carousel
          option(value="background") Background
        input.upload.image.file(type="file", name="image")
        input.upload.image.caption.hideme(type="textarea", name="caption", rows="4", cols="30")
        input.upload.image.submit.hideme(type="submit", value="Upload")
    if upload == 1      
      p.upload.image.text Image successfully uploaded!
    else
      p.upload.image.hidden Nothing
    .modal.hide.fade
      .modal-header
        button.close(type="button", data-dismiss="modal", aria-hidden="true") &times;
        h3 Enter an (optional) caption of the image:
      .modal-body
        input.modal-upload.image.caption(type="textarea", rows="4", cols="30")
      .modal-footer
        a.btn(href="#") Cancel
        a.btn.btn-primary.modal-upload(href="#") Upload
    script(type="text/javascript", src="/javascripts/admin.js")
