.masthead
  h3.muted.title Charlotte Animal Rights
  .navbar
    .navbar-inner.hidden-phone
      .container
        ul.nav
          if active == 0
            li.active.nav-item.home
              a.nav-link(href="/main") Main
          else
            li.nav-item.home
              a.nav-link(href="/main") Main
          if active == 1
            li.active.nav-item.about
              a.nav-link(href="/about") About
          else
            li.nav-item.about
              a.nav-link(href="/about") About
          if active == 2
            li.active.nav-item.contact
              a.nav-link(href="/contact") Contact
          else
            li.nav-item.contact
              a.nav-link(href="/contact") Contact
          if active == 3
            li.active.nav-item.news
              a.nav-link(href="/news") News
          else
            li.nav-item.news
              a.nav-link(href="/news") News
          if active == 4
            li.active.nav-item.photos
              a.nav-link(href="/photos") Photos
          else
            li.nav-item.photos
              a.nav-link(href="/photos") Photos
          if active == 5 
            li.active.nav-item.links
              a.nav-link(href="/links") Links
          else
            li.nav-item.links
              a.nav-link(href="/links") Links
  .navbar
    .navbar-inner.visible-phone
      .container
        ul.nav
          if active == 0
            li.active.nav-item.home.span4
              a.nav-link(href="/main") Main
          else
            li.nav-item.home.span4
              a.nav-link(href="/main") Main
          if active == 1
            li.active.nav-item.about.span4
              a.nav-link(href="/about") About
          else
            li.nav-item.about.span4
              a.nav-link(href="/about") About
          if active == 2
            li.active.nav-item.contact.span4
              a.nav-link(href="/contact") Contact
          else
            li.nav-item.contact.span4
              a.nav-link(href="/contact") Contact
        ul.nav
          if active == 3
            li.active.nav-item.news.span4
              a.nav-link(href="/news") News
          else
            li.nav-item.news.span4
              a.nav-link(href="/news") News
          if active == 4
            li.active.nav-item.photos.span4
              a.nav-link(href="/photos") Photos
          else
            li.nav-item.photos.span4
              a.nav-link(href="/photos") Photos
          if active == 5 
            li.active.nav-item.links.span4
              a.nav-link(href="/links") Links
          else
            li.nav-item.links.span4
              a.nav-link(href="/links") Links
