.masthead
  h3.muted.title Charlotte Animal Rights
  .navbar
    .navbar-inner
      .container
        ul.nav
          li.active
            a(href="/") Main
          li
            a(href="/about") About
          li
            a(href="/contact") Contact
          li
            a(href="/news") News
          li
            a(href="/photos") Photos
          li
            a(href="/links") Other Sites

