script(type='text/javascript', src='/javascripts/home.js')
.container
  .masthead
    h3.muted.title Charlotte Animal Rights
    .navbar
      .navbar-inner
        .container
          ul.nav
            li.active
              a(href="/") Main
            li.dropdown
              a.dropdown-toggle(href="#", data-toggle="dropdown") About
              ul.dropdown-menu(role="menu", aria-labelledby="dLabel")
                li
                  a(href="/history") Group History
                li
                  a(href="/contact") Contact
            li
              a(href="/join") Get Involved
            li
              a(href="/photos") Photos
            li
              a(href="/links") Other Sites
  .container-fluid
    .row-fluid
      .span8
        .carousel.slide#myCarousel(data-interval="5000")
          ol.carousel-indicators
            li.hidden.active(data-target="#myCarousel", data-slide-to="0")
            li.hidden(data-target="#myCarousel", data-slide-to="1")
            li.hidden(data-target="#myCarousel", data-slide-to="2")
            li.hidden(data-target="#myCarousel", data-slide-to="3")
            li.hidden(data-target="#myCarousel", data-slide-to="4")
          .carousel-inner
            .item.square.active(style="background:url(/images/img01.jpg);background-size:100% 100%;background-repeat:no-repeat;")
            .item.square(style="background:url(/images/img02.jpg);background-size:100% 100%;background-repeat:no-repeat;")              
            .item.square(style="background:url(/images/img03.jpg);background-size:100% 100%;background-repeat:no-repeat;")              
            .item.square(style="background:url(/images/img04.jpg);background-size:100% 100%;background-repeat:no-repeat;")              
            .item.square(style="background:url(/images/img05.jpg);background-size:100% 100%;background-repeat:no-repeat;")              
      .span4
        .well.sidebar-nav
          ul.nav.nav-list
            li
              .fixed-height-250
                .data-box
                  a.fact-link
                    p.fact-holder.quote
            li
              .data-box
                p.head-text Animals killed since you opened this page:
                .count#counter
                  #counter0
                    span#count0 0 
                    span &nbsp;
                    span#desc0 chickens
                  #counter1
                    span#count1 0 
                    span &nbsp;
                    span#desc1 ducks
                  #counter2
                    span#count2 0 
                    span &nbsp;
                    span#desc2 pigs
                  #counter3
                    span#count3 0 
                    span &nbsp;
                    span#desc3 rabbits
                  #counter4
                    span#count4 0 
                    span &nbsp;
                    span#desc4 turkeys
                  #counter5
                    span#count5 0 
                    span &nbsp;
                    span#desc5 geese &amp; guinea fowl
                  #counter6
                    span#count6 0 
                    span &nbsp;
                    span#desc6 sheep
                  #counter7
                    span#count7 0 
                    span &nbsp;
                    span#desc7 goats
                  #counter8
                    span#count8 0 
                    span &nbsp;
                    span#desc8 cows &amp; calves
                  #counter9
                    span#count9 0 
                    span &nbsp;
                    span#desc9 rodents
                  #counter10
                    span#count10 0 
                    span &nbsp;
                    span#desc10 pigeons &amp; other birds
                  #counter11
                    span#count11 0 
                    span &nbsp;
                    span#desc11 buffaloes
                  #counter12
                    span#count12 0 
                    span &nbsp;
                    span#desc12 horses
                  #counter13
                    span#count13 0 
                    span &nbsp;
                    span#desc13 mules
                  #counter14
                    span#count14 0 
                    span &nbsp;
                    span#desc14 camels
                  #counter15
                    span#count15 0
                    span &nbsp; 
                    span#desc15 asses
                  #counter16
                    span#count16 0
                    span &nbsp;
                    span#desc16 other camelids
                  p
                    span#count_descr.count_desc
                  script(type='text/javascript', src='/javascripts/killcounter.js')
