script(type='text/javascript', src='/javascripts/home.js')
.carousel.slide#myCarousel(data-interval="5000")
  ol.carousel-indicators
    each image, i in images
      if i == 0
        li.hidden.active(data-target="#myCarousel", data-slide-to=i)
      else
        li.hidden(data-target="#myCarousel", data-slide-to=i)
    //li.hidden.active(data-target="#myCarousel", data-slide-to="0")
    //li.hidden(data-target="#myCarousel", data-slide-to="1")
    //li.hidden(data-target="#myCarousel", data-slide-to="2")
    //li.hidden(data-target="#myCarousel", data-slide-to="3")
    //li.hidden(data-target="#myCarousel", data-slide-to="4")
  .carousel-inner
    each image, i in images
      - var st = "background:url(" + image + ");background-size:100% 100%;background-repeat:no-repeat;"
      if i == 0
        .item.square.active(style=st)
      else
        .item.square(style=st)
    //.item.square.active(style="background:url(/images/img01.jpg);background-size:100% 100%;background-repeat:no-repeat;")
    //.item.square(style="background:url(/images/img02.jpg);background-size:100% 100%;background-repeat:no-repeat;")              
    //.item.square(style="background:url(/images/img03.jpg);background-size:100% 100%;background-repeat:no-repeat;")              
    //.item.square(style="background:url(/images/img04.jpg);background-size:100% 100%;background-repeat:no-repeat;")              
    //.item.square(style="background:url(/images/img05.jpg);background-size:100% 100%;background-repeat:no-repeat;")              
