doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/page.css')
    link(rel='stylesheet', href='/stylesheets/killcounter.css')
    script(type='text/javascript', src='/javascripts/jquery.min.js')
    script(type='text/javascript', src='/bootstrap/js/bootstrap.min.js')
    script(type='text/javascript', src='/javascripts/farmfacts.js')
    script(type='text/javascript', src='/javascripts/killcounter.js')
  body
    .container
      include head
      .container-fluid.page-container
        .row-fluid
          .span8
            !{body}
          include sidebar
