doctype 5
html
  head
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title= title
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='/bootstrap/css/datepicker.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/page.css')
    link(rel='stylesheet', href='/stylesheets/killcounter.css')
    script(type='text/javascript', src='/javascripts/jquery.min.js')
    script(type='text/javascript', src='/javascripts/jquery.form.js')
    script(type='text/javascript', src='/bootstrap/js/bootstrap.min.js')
    script(type='text/javascript', src='/bootstrap/js/bootstrap-datepicker.js')
    script(type='text/javascript', src='/javascripts/farmfacts.js')
    script(type='text/javascript', src='/javascripts/killcounter.js')
    script(type='text/javascript', src='/javascripts/main.js')
  body
    .background
      img.stretch.bg-image(src=bg, alt="Background Image")
    .container
      include head
      .container-fluid.page-container.no-padding
        .row-fluid.squashed
          .span8.squashed
            .well.page-content
              block content
          .squashed.span4
            include sidebar

