extends layout
block content
  .content.photos.current
    ul.thumbnails
      each photo, i in photos
        li.span4.thumb-img        
          - var lid = 'lightbox'+i;
          - var lnk = '#'+lid;
          a.thumbnail.thumb-img(href=lnk, data-toggle="lightbox")
            img.thumb-img(src=photo, alt="")
          .lightbox.hide.fade(id=lid, tabindex="-1", role="dialog", aria-hidden="true")
            .lightbox-header
              button.close(type="button", data-dismiss="lightbox", aria-hidden="true") &times;
            .lightbox-content
              img(src=photo, alt="")
    link(rel='stylesheet', href='/bootstrap/css/bootstrap-lightbox.min.css')
    script(type='text/javascript', src='/bootstrap/js/bootstrap-lightbox.min.js')

    
