extends layout
block content
  .content.photos.current
    ul.thumbnails
      each photo in photos
        li.span4.thumb-img        
          a.thumbnail.thumb-img(href=photo)
            img.thumb-img(src=photo, alt="")
    script(type="text/javascript", src="/javascripts/photos.js")
    
