.well.sidebar-nav.brown
  .row.pull-right.social-icon-adjust
    a.spacing(href="https://www.facebook.com/groups/432751723480279/")
      img(src="/images/external/facebook.png", alt="Link to Facebook Group")
    a.spacing(href="https://twitter.com/clt_ar")
      img(src="/images/external/twitter.png", alt="Link to Twitter Profile")
    a.spacing(href="http://www.meetup.com/Charlotte-Animal-Rights/")
      img(src="/images/external/meetup.png", alt="Link to Meetup Group")
  ul.nav.nav-list
    li
      .data-box
        p.head-text Animals killed since you opened this page:
        .count#counter
          #counter0
            span#count0 0 
            span &nbsp;
            span#desc0 chickens
          #counter1
            span#count1 0 
            span &nbsp;
            span#desc1 ducks
          #counter2
            span#count2 0 
            span &nbsp;
            span#desc2 pigs
          #counter3
            span#count3 0 
            span &nbsp;
            span#desc3 rabbits
          #counter4
            span#count4 0 
            span &nbsp;
            span#desc4 turkeys
          #counter5
            span#count5 0 
            span &nbsp;
            span#desc5 geese &amp; guinea fowl
          #counter6
            span#count6 0 
            span &nbsp;
            span#desc6 sheep
          #counter7
            span#count7 0 
            span &nbsp;
            span#desc7 goats
          #counter8
            span#count8 0 
            span &nbsp;
            span#desc8 cows &amp; calves
          #counter9
            span#count9 0 
            span &nbsp;
            span#desc9 rodents
          #counter10
            span#count10 0 
            span &nbsp;
            span#desc10 pigeons &amp; other birds
          #counter11
            span#count11 0 
            span &nbsp;
            span#desc11 buffaloes
          #counter12
            span#count12 0 
            span &nbsp;
            span#desc12 horses
          #counter13
            span#count13 0 
            span &nbsp;
            span#desc13 asses 
          #counter14
            span#count14 0 
            span &nbsp;
            span#desc14 camels
          #counter15
            span#count15 0
            span &nbsp; 
            span#desc15 other camelids 
          #counter16
            span#count16 0
            span &nbsp;
            span#desc16 mules
          p
            span#count_descr.count_desc
          script(type='text/javascript', src='/javascripts/killcounter.js')
    li
      .fixed-height-250
        .data-box
          p.fact-holder
