
/* line 1 : /Users/elzairthesorcerer/Development/NodeJS/cltar/node_modules/stylus/lib/functions/index.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/elzairthesorcerer\/Development\/NodeJS\/cltar\/node_modules\/stylus\/lib\/functions\/index\.styl}line{font-family:\000031}}

/* line 1 : /Users/elzairthesorcerer/Development/NodeJS/cltar/public/stylesheets/killcounter.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/elzairthesorcerer\/Development\/NodeJS\/cltar\/public\/stylesheets\/killcounter\.styl}line{font-family:\000031}}
div.count {
  color: #000;
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 14px;
  padding: 8px;
  width: 225;
}

/* line 8 : /Users/elzairthesorcerer/Development/NodeJS/cltar/public/stylesheets/killcounter.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/elzairthesorcerer\/Development\/NodeJS\/cltar\/public\/stylesheets\/killcounter\.styl}line{font-family:\000038}}
span.count_desc {
  font-size: 12px;
}

/* line 11 : /Users/elzairthesorcerer/Development/NodeJS/cltar/public/stylesheets/killcounter.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/elzairthesorcerer\/Development\/NodeJS\/cltar\/public\/stylesheets\/killcounter\.styl}line{font-family:\0000311}}
span.generatelink {
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 10px;
  background-color: #c00;
}

/* line 16 : /Users/elzairthesorcerer/Development/NodeJS/cltar/public/stylesheets/killcounter.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/elzairthesorcerer\/Development\/NodeJS\/cltar\/public\/stylesheets\/killcounter\.styl}line{font-family:\0000316}}
a#genlinka {
  color: #c00;
}
